body {
    padding: 1rem;
}
.icone {
    height: 2rem;
    object-fit: contain;
}
img[src="../Imagens/LightIcon.webp"] {
    height: 1rem;
}
img {
    object-fit: contain;
}

@media (max-width: 900px){
    #separador {
        display: none;
    }
    #img_oswald {
        flex-direction: column !important;
        color: gray;
        padding: 1rem;
    }
}